<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head> -->
<!-- <body class="main-body"> -->
	<div class="nav-bar" role="navigation">
		<ul class="nav-content">
			<li id="my-events-link"><a href="http://localhost:8080/app/myevents">My Events</a></li>
			<!-- <li class="Title">Concert Calendar</li> -->
			<li id="logout-link"><a href="http://localhost:8080/app/login">Logout</a></li>
		</ul>
		<div class="main-form">
			<form class="main-input">
				<input class="main-search" type="text" name="search-concerts" placeholder="Search concerts or venues" autofocus>
				<input class="main-submit" type="submit" name="main-submit" value="Search">
			</form>
		</div>
	</div>
	


<!-- </body>
</html> -->