
	<div class="nav-bar" role="navigation">
		<ul class="nav-container">
			<div class="quarter w3-container">
				<li>
					<form method="GET" action="/app/myevents">
						<input type="submit" id="nav-events" value="My Events">
					</form>
				</li>
			</div>
			<div class="half w3-container">
				<li>
					<form class="main-form" action="app/concert">
						<input class="main-search" type="text" name="search-concerts" placeholder="Search by artist or keyword" autofocus>
						<input class="main-submit" type="submit" name="main-submit" value="Search">
					</form>
				</li>
			</div>
			<div class="quarter w3-container">
				<li>
					<form  method="GET" action="/users/logout">
						<input type="submit" id="logout-link" value="Logout">
					</form>
				</li>
			</div>
		</ul>
	</div>
		<!-- <li>
				<a id="logout-link" href='/users/logout'>logout</a>
			</li> -->
	<!-- </div> -->

<!-- 	<div class="nav-bar" role="navigation">
		<form method="GET" action="/app/myevents">
			<input type="submit" id="my-events-link" value="My Events">
		</form>

		
		<form  method="POST" action="/auth/logout">
			<input type="submit" id="logout-link" value="Logout">
		</form>
		
		<div class="main-form">
			<form class="main-input" action="app/concert">
				<input class="main-search" type="text" name="search-concerts" placeholder="Search by artist or keyword" autofocus>
				<input class="main-submit" type="submit" name="main-submit" value="Search">
			</form>
		</div>
	</div> -->

