<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div class="nav-bar" role="navigation">
		<ul class="nav-content">
			<li id="my-events-link"><a href="#">My Events</a></li>
			<!-- <li class="Title">Concert Calendar</li> -->
			<li id="logout-link"><a href="#">Logout</a></li>
		</ul>
	</div>

	<style>
	
	</style>
</body>
</html>