<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body class="main-body">
	<header>
		<% include ./partials/nav %>
		<% include ./partials/head %>
	</header>


	<div class="new-event-container">

			<h1 class="h1-header">Create New Event</h1>
			
			<form class="new-event-form">
				<input type="text" class="event-input" value="Cool New Festival" placeholder="Event Name" autofocus required>
				<input type="text" class="venue-input" value="Super Cool Venue" placeholder="Venue" required>
				<input type="text" class="venue-location" value="San Francisco" placeholder="Address/Location" required>
				<input type="datetime-local" class="date-input" placeholder="Date" required>
				<input type="text" class="artist-input" value="Me, Myself and I" placeholder="Artist" required>
				<input type="submit" class="add-event-submit" value="Add Event">
			</form>		
	</div>

	<footer><% include ./partials/footer %></footer>

</body>
</html>