<!DOCTYPE html>
<html lang="en">
<head>
	<title>Concert Calendar</title>

	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">

	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">


</head>
<body class="main-body">
<header>
	<% include ./partials/nav %> 
	<% include ./partials/head %>
</header>

	<h2 class="concert-header"></h2>
	<p class="welcome-user"> Welcome <%= user.firstName %></p>
	<div class="results-container">
		<p class="search-results"></p>
	</div>

	<div class="append-event"></div>

	<!-- <div class="back-container hidden">
		<input type="button" class="go-back-data" value="Back">
	</div> -->

	<footer> <% include ./partials/footer %> </footer>
