<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<header>
	<% include ./partials/nav %> 
	<% include ./partials/head %>
	</header>

	<iframe 
		src="https://www.youtube.com/embed/VIDEO_ID" width="640" height="360">
	</iframe>

</body>
</html>