<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">

	<link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">


	<title>Landing Page</title>
</head>

<body class="landing-body">
	<div class="landing-page">
		<h1 class="concert-header landing-header">Concert Calendar</h1>

		<div class="landing-text">
			<h2 class="landing-title">Don't Miss Another Show!</h2>
			<ul class="landing-list">
				<li> An oragnized, fun way to track your favorite concerts and festivals</li>
				<li>Search for your favorite artist and never miss another show</li>
				<li>Create a personalized calendar to keep track of your events</li>
				<li>Follow your favorite artist on tour</li>
			</ul>
		</div>


		<div class="landing-inputs">
			<input type="submit" value="Sign up" class="landing-signup">
			<input type="submit" value="Log in" class="landing-login">
		</div>
	</div>

	<script
  		src="https://code.jquery.com/jquery-3.2.1.min.js"
  		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  		crossorigin="anonymous">
	</script>


  <script type="text/javascript" src="./index.js"></script>
</body>
</html>