<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
</head>
<body>
	<header>
		<% include ./partials/nav %>
		<% include ./partials/head %>
	</header>

	<!-- <h1 class="title">Concert Calendar</h1> -->
	<!-- <div class="main-form">
		<form class="main-input">
			<input class="main-search" type="text" name="search-concerts" placeholder="Search concerts or venues">
			<input class="main-submit" type="submit" name="main-submit">
		</form>
	</div> -->

	

	<script
  		src="https://code.jquery.com/jquery-3.2.1.min.js"
  		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  		crossorigin="anonymous">
	</script>


	<script type="text/javascript" src="/index.js"></script>

</body>
</html>