<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body class="main-body">
	<header>
		<% include ./partials/head %>
	</header>

	
		
	<div id="login-container">
		<h1>Log in</h1>

		<form class="signup-form">
			<input type="text" class="username-input" placeholder="username" name="username"  value='user' required>
			<input type="password" class="password-input" placeholder="password" name="password" value='123' required>
			<input type="submit" class="signup-submit">
			<p><a href="/app/signup">Don't have an account? Sign up</a></p>
		</form>
	

	<footer>
		<% include ./partials/footer %>
	</footer>
	</div>
		
</body>
</html>
