<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="main-body">
	<header>
		<% include ./partials/head %>
	</header>

	<h2 class="sign-up-header">Sign up for access to events and concert information</h2>

	<div id="signup-container">
		<h1 class="h1-header">Sign up</h1>
		<form class="signup-form">
			<input type="text" class="username-input" placeholder="Username" name="username" required>
			<input type="password" class="password-input" placeholder="Password" name="password" required>
			<input type="text" class="firstName-input" placeholder="First name" name="firstName">
			<input type="text" class="lastName-input" placeholder="Last name" name="lastName">
			<input type="submit" class="signup-submit" value="Create Account">
		</form>
		</p><a class="account-link" href="/app/login">Already have an account?</a></p>
	</div>


	<footer>
		<% include ./partials/footer %>
	</footer>


</body>
</html>

