* {
	font-family: 'Crete Round', serif;
}

background 

html {
	background-color: black;
}
.account-link {
	color: black;
}

input#logout-link {
	padding-right: 35px;
	padding-left: 35px;
}

input#nav-events {
	padding-left: 35px;
	padding-right: 35px;
}


input#nav-events, input#logout-link {
	height: 45px;
	width: 150px;
	border-radius: 10px;
	background-color: #F5B041;
	border: 1px solid black;
	font-size: 18px;
}

.nav-bar {
	background-color: #333333;
}

input#logout-link:hover, input#nav-events:hover, input.main-submit:hover {
	color: red;
}

.quarter {
	width: 25%;
}

.half {
	width:50%;
}

body {
	color: black;
}

ul.nav-container {
	list-style: none;
	width: 100%;
	padding-bottom: 2%;
	padding-top: 2%;
	text-align: center;
	display: flex;
}

li {
	flex-grow: 1;
}

@media (max-width: 1130px) {
	.main-submit {
		margin-top: 10px;
		width: 150px;
	}
}

@media (max-width: 760px) {
	ul {
		flex-direction: column;
	}

	input.main-submit {
		width: 150px;
		margin-left: 260px
	}

	input.main-search {
		width: 570px;
		margin-left: 45px;
		margin-top: 5px;
		height: 45px;
	}

	input#logout-link {
		position: absolute;
		right: 75px;
		top: 31px;
		width: 150px;
	}

	input#nav-events {
		width: 150px;
		position: relative;
		left: 27px;
	}

	table, thead, tbody, th, td, tr {
		display: block;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		border: 1px solid #ccc;
	}

	td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		text-align: right;
	}

	td:before {
		position: relative;
		top: -1px;
		width: 45%;
		white-space: nowrap;
		text-align: left;
		vertical-align: middle;
		margin-right: 3px;
		font-weight: bold;
	}

	td:nth-child(1):before {
		content: 'Event:';
	}

	td:nth-child(2):before {
		content: 'Venue:';
	}

	td:nth-child(3):before {
		content: 'Date:';
	}

	td.myEventsLink, td.delete-event {
		text-align: center;
	}

	input.new-event-button {
		width: 80%;
		height: 50px;
	}

	.button-caption {
		font-size: 20px
	}

	input.new-event-button {
		width: 80%;
		height: 50px;
		margin-top: -75px;
	}

	.button-caption {
		font-size: 20px;
		position: relative;
		top: -7px;
	}
}

@media (max-width: 625px) {
	input.main-submit {
		position: relative;
		right: 100px;
	}

	input.main-search {
		width: 450px;
	}
}

@media (max-width: 500px) {
	table td {
		padding-top: 25px;
	}

	input#logout-link {
		position: absolute;
		margin-top: -4px;
		top: 29px;
	}

	input.main-search {
		width: 330px;
		position: relative;
		right: 18px;
		font-size: 22px;
	}

	input.main-submit {
		left: -141px;
	}

	.new-event-button {
		top: -100px;
	}

	.button-caption {
		top: -5px;
		font-size: 19px;
	}


}

@media (max-width: 465px) {
	td {
		text-align: right;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	input.new-event-button {
		width: 60%;
		height: 50px;
		margin-top: -20px;
	}

	.button-caption {
		font-size: 18px;
		top: -13px;
	}

	input.main-search {
		right: 53px;
	}

	input#logout-link {
		right: 26px;
	}

	input#nav-events {
		left: -10px;
	}

	input.main-submit {
		left: -173px;
	}
}




.h1-header {
	color: red;
	font-size: 38px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div.new-event-container, div#signup-container {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 50px;
}

div.new-event-container {
	margin-top: 5%
}

div#login-container {
	margin-top: 10%;
	width: 420px;
	margin-left: auto;
	margin-right: auto;
}


#signup-container, #login-container, .new-event-container {
	/*position: absolute;*/
	width: 375px;
	/*right: 500px;*/
	/*top: 36%;*/
	text-align: center;
	border: 2px solid black;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #EBEDEF;
	margin-top: 50px;
}

#landing-header, .sign-up-header {
	color: white;
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.signup-form .username-input, .signup-form .password-input, .signup-form .firstName-input, .signup-form .lastName-input, .signup-form .signup-submit, .event-input, .venue-input, .date-input, .artist-input, .add-event-submit, .venue-location, .login-submit, .login-form .username-input, .login-form .password-input {
	display: block;
	width: 400px;
	height: 40px;
	font-size: 20px;
	margin-bottom: 10px;
	text-align: center;
}

.signup-form .username-input, .signup-form .password-input, .signup-form .firstName-input, .signup-form .lastName-input, .event-input, .venue-input, .date-input, .artist-input, .venue-location, .login-form .username-input, .login-form .password-input {
	width: 75%;
	/*margin-left: 15%;*/
	border: 1px solid black;
	/*margin-bottom: 25px;*/
	margin-left: auto;
	margin-right: auto;
}

.signup-form .signup-submit, .add-event-submit, .login-submit {
	height: 40px;
	width: 200px;
	/*position: relative;*/
	/*left: 110px;*/
	margin: 0 auto;
	background-color: #2ECC71;
	color: white;
	border: 1px solid black;
}

.main-input {
	text-align: center
}

.main-search {
	width: 450px;
	height: 40px;
	font-size: 25px;
	border: 1px solid black;
}

.main-submit {
	height: 45px;
	width: 100px;
	position: relative;
	top: -3px;
	background-color: #F5B041;
	font-size: 20px;
	border: 1px solid black;
}

.title {
	text-align: center;
	font-size: 70px;
	color: white;
	text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

.main-body {
    background: url(https://i.pinimg.com/originals/dd/42/de/dd42dea8a3fddd66ef507647c3c3fab7.jpg);
    background-size: 100% 890px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100%;
}


.results-container {
	background-color: #B2BABB;
	width: 50%;
	margin: auto;
}


.little-container {
	border: 1px solid black;
	padding-bottom: 5px;
}

.hidden {
	display: none;
}

.event-container {
	position: relative;
	left: 350px;
	background-color: #EBEDEF;
	width: 50%;
	height: 30px;
	vertical-align: middle;
}

.login-message, .event-name {
	text-align: center;
	color: red;
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.event-name {
	font-size: 44px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.event-caption {
	color: white;
	font-size: 40px;
}

.concert-header {
	text-align: center;
	color: white;
	font-size: 30px;
}

.new-event-button {
	background-color: #F5B041;
	width: 150px;
	height: 50px;
	font-size: 15px;
	margin-bottom: 50px;
	border: 1px solid black;
	/*position: relative;*/
	/*bottom: 115px;*/
}

.add-new-event, .back-to-events {
	background-color: #F5B041;
	text-align: center;
	height: 40px;
	width: 140px;
	border: 1px solid black;
	font-size: 15px;
	margin-bottom: 15px;
}

/*input.back-to-events {
	margin: 3px;
}*/

.back-container {
	text-align: center;
}

.big-event-container {
	background-color: #B2BABB;
	text-align: center;
	border: 1px solid black;
	width: 60%;
	margin: auto;
}

.search-results {
	text-align: center;
}

.search-link {
	cursor: pointer;
}

.event-link, .artist-output {
	border: 1px solid black;
	font-size: 20px;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
}

.all-artist-caption, .event-name {
	text-decoration: underline;
}

.event-table {
	margin: 10%;
	width: 80%;
}


table, th, td {
	margin: 0 auto;
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 15px;
}

td {
	text-align: left;
}

td.myEventsLink, td.delete-event {
	text-decoration: underline;
	cursor: pointer;
}

td.myEventsLink {
	color: blue;
}

td.delete-event {
	color: red;
}

tr:nth-child(odd) { 
  background-color: #B2BABB; 
}

tr:nth-child(even) { 
  background-color: #EBEDEE; 
}

.welcome-user {
	color: white;
	text-align: center;
	font-size: 25px;
}

.landing-container {
	color: white;
	text-align: center;
	margin: auto;
}

.landing-list {
	list-style-position: inside;
	font-size: 35px;
}

.landing-header {
	font-size: 63px;
}

.landing-title {
	font-size: 45px

}

.landing-signup, .landing-login {
	height: 70px;
	width: 175px;
	margin-right: 35px;
	background-color: #F5B041;
	border-radius: 10px;
	font-size: 25px
}

.landing-inputs {
	position: relative;
	left: 36%;
	border-radius: 25px
}

.event-notice, .notification, .notify {
	color: red;
}

.search-again {
	background-color: #F5B041;
	height: 40px;
	width: 25%;
	font-size: 15px;
	border: 1px solid black;
	margin-bottom: 5%;
}

.search-again-container {
	position: absolute;
	top: 89%;
	right: 46%;
}

.button-caption {
	color: white;
	text-align: center;
}

.new-button-container {
	text-align: center;
}

.no-events {
	color: white;
	text-align: center;
}

