
.nav-content li { 
	color: white !important;
	list-style-type: none;
	display: inline;
	text-align: center;
}

.account-link {
	color: black;
}

a:-webkit-any-link, {
	color: white;
	text-align: center;
}

#logout-link {
	float: right;
	padding-right: 35px;
}

#my-events-link {
	float: left;
}

.nav-bar {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 25px;
	background-color: #333333;
	font-size: 25px;
}

/*.nav-content .title {
	font-size: 40px;
}*/

#signup-container, #login-container, .new-event-container {
	position: absolute;
	width: 420px;
	right: 500px;
	top: 36%;
	text-align: center;
	border: 2px solid black;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #EBEDEF;
	/*margin-top: 50px;*/
}

#landing-header, .sign-up-header {
	color: white;
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.signup-form .username-input, .signup-form .password-input, .signup-form .firstname-input, .signup-form .lastname-input, .signup-form .signup-submit  {
	display: block;
	width: 400px;
	height: 40px;
	font-size: 25px;
	margin-bottom: 10px;
	text-align: center;
}

.signup-form .username-input, .signup-form .password-input, .signup-form .firstname-input, .signup-form .lastname-input {
	width: 75%;
	margin-left: 50px;
	border: 1px solid black;
}

.signup-form .signup-submit {
	height: 40px;
	width: 200px;
	position: relative;
	left: 110px;
	background-color: #2ECC71;
	color: white;
}

.main-input {
	text-align: center
}

.main-search {
	width: 450px;
	height: 40px;
	font-size: 25px;
	/*position: relative;*/
	/*top: 150px;*/
	border: 1px solid black;
}

.main-submit {
	height: 45px;
	width: 100px;
	position: relative;
	top: -3px;
	background-color: #F5B041;
	font-size: 20px;
	border: 1px solid black;
}

.title {
	text-align: center;
	font-size: 70px;
	color: white;
	text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

.main-body {
    background: url(https://i.pinimg.com/originals/dd/42/de/dd42dea8a3fddd66ef507647c3c3fab7.jpg);
    background-size: 100% 890px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*.results-container {
	position: relative;
	left: 350px;
	top: 50px;
	width: 50%;
	background-color: #B2BABB;
	border: 1px solid black;
	text-align: center;
}
*/

.results-container {
	background-color: #B2BABB;
	width: 50%;
	margin: auto;
}


.little-container {
	border: 1px solid black;
	padding-bottom: 5px;
}

.hidden {
	display: none;
}

.event-container {
	position: relative;
	left: 350px;
	background-color: #EBEDEF;
	width: 50%;
	height: 30px;
	vertical-align: middle;
}

.login-message, .event-name {
	text-align: center;
	color: red;
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.event-name {
	font-size: 44px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.event-caption {
	color: white;
	font-size: 40px;
}

.concert-header {
	text-align: center;
	color: white;
	font-size: 30px;
}

.new-event-button {
	background-color: #F5B041;
	position: relative;
	left: 648px;
	width: 120px;
	height: 40px;
	margin-top: 25px;
	font-size: 15px;
	text-align: center;
}

.add-new-event {
	background-color: #F5B041;
	text-align: center;
	height: 40px;
	width: 140px;
	border: 1px solid black;
	font-size: 15px;
	margin-bottom: 15px;
}

.big-event-container {
	background-color: #B2BABB;
	text-align: center;
	border: 1px solid black;
	width: 60%;
	margin: auto;
}

.search-results {
	text-align: center;
}

.search-link {
	cursor: pointer;
}

.event-link, .artist-output {
	border: 1px solid black;
	font-size: 20px;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
}

.all-artist-caption, .event-name {
	text-decoration: underline;
}

.event-table {
	background-color: gray;
}

.welcome-user {
	color: white;
	text-align: center;
	font-size: 25px;
}

.landing-container {
	color: white;
	text-align: center;
	margin: auto;
	font-family: 'Crete Round', serif;
}

.landing-list {
	list-style-position: inside;
	font-size: 35px;
}

.landing-header {
	font-size: 63px;
}

.landing-title {
	font-size: 45px

}

.landing-signup, .landing-login {
	height: 70px;
	width: 175px;
	margin-right: 35px;
	background-color: #F5B041;
	border-radius: 10px;
	font-size: 25px
}

.landing-inputs {
	position: relative;
	left: 36%;
	border-radius: 25px
}